body {
  margin: 0;
}

button {
  text-transform: none !important;
}

* {
  box-sizing: border-box;
}

a {
  text-transform: none !important;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
